.root {
	width: 100%;
	max-width: 580px;
	margin: auto;
	margin-top: -60px;
	padding-top: 60px;
}

.label {
	cursor: pointer;
	position: fixed;
	top: 0;
	color: white;
	font-family: "Quicksand", sans-serif;
	margin: 0;
	width: 100%;
	background: #2f3238;
	z-index: 1000;
	text-align: center;
}

.fileLabel, .button {
    color: white;
    background: black;
    width: 50%;
	padding: 6px;
    cursor: pointer;
    display: inline-block;
	text-align: center;
	box-sizing: border-box;
	height: 30px;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.inputWrapper {
	background: white;
	background: #fff;
	border-radius: 3px;
	height: 115px;
	margin: auto;
	width: 100%;
}

.input {
	margin: 10px;
	width: 70%;
	height: 60px;
	border: none;
	resize: none;
	padding: 0;
	line-height: 18px;
	color: #56638a;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

.image {
	height: 60px;
	float: right;
}

.button {
	float: right;
}

.button:disabled {
	background: grey;
}

