.root {
	background: #63a088;
	position: fixed;
	top: 0px;
	z-index: 10000;
	margin: 0;
	max-width: 580px;
	width: 100%;
	padding-bottom: 10px;
}

.label {
	color: white;
	font-family: "Quicksand", sans-serif;
	margin: 0px;
}

.fileLabel, .button {
	border-radius: 0px 0px 3px 3px;
    color: white;
    background-color: #333741;
    width: 278px;
	padding: 6px;
    cursor: pointer;
    display: inline-block;
	text-align: center;
}

.file {
	display: none;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputWrapper {
	background: white;
	background: #fff;
	border-radius: 3px;
	height: 115px;
}

.input {
	margin: 10px;
	width: 85%;
	height: 60px;
	border: none;
	resize: none;
	padding: 0;
	line-height: 18px;
	color: #56638a;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

.image {
	height: 60px;
}

.button {
	float: right;
}

