.root {
	position: relative;
	display: block;
	background: #fff;
	height: 80px;
	border: 1px solid #e6ecf0;
	border-radius: 3px;
	animation: fadein 1s;
	margin: 10px 0px;
	padding: 10px;
}

.label {
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

