@import './../variables.css';

.root {
	position: relative;
	display: block;
	margin: 10px auto;
	overflow: hidden;
	width: var(--post-small-width);
	height: var(--post-small-height);
}

@media (min-width: 480px) {
	.root {
		width: var(--post-medium-width);
		height: var(--post-medium-height);
	}
}

@media (min-width: 680px) {
	.root {
		width: var(--post-large-width);
		height: var(--post-large-height);
	}
}

.starContainer {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	user-select: none;
}

.star {
	margin-left: 5px;
	color: var(--fav-color);
}

.count {
	margin-left: 5px;
	margin-right: 5px;
	color: var(--fav-color);
}

.container {
	overflow: hidden;
	margin: auto;
	background: #030c17;
}

.imageContainer {
	overflow: hidden;
	transition: transform 0.3s;
	transition-delay: 0.3s;
	background: black;
}

.figCaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.3s;
	transition-delay: 0.3s;
}

.failed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.3s;
	transition-delay: 0.3s;
}

.retryButton {
	position: absolute;
	top: 30px;
	left: 30px;
}

.failed::before {
	position: absolute;
	background: rgba(255,0,0,0.3);
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transition-delay: 0.3s;
	transform: scale3d(1.4,1.4,1);
}

.figCaption::before {
	position: absolute;
	background: rgba(1,1,1,0.3);
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transition-delay: 0.3s;
	transform: scale3d(1.4,1.4,1);
}

.textContainer {
	transition: opacity 0.35s, transform 0.35s;
	transition-delay: 0.3s;
	opacity: 0;
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header {
	color: var(--text-color);
	text-align: center;
	font-size: 18px;
}

@media (min-width: 480px) {
	.header {
		font-size: 24px;
	}
}

.textContainerActive {
	background-color: rgba(58,52,42,0);
	transform: scale3d(1,1,1);
	opacity: 1;
}

.figCaptionActive::before {
	opacity: 1;
    transform: scale3d(1,1,1);
}

.figCaptionActive {
	background-color: rgba(58,52,42,0);
	opacity: 1;
}

.failedActive::before {
	opacity: 1;
    transform: scale3d(1,1,1);
}

.failedActive {
	background-color: rgba(58,52,42,0);
	opacity: 1;
}

.image {
	width: var(--post-small-width);
	height: var(--post-small-height);
	display: block;
	margin: auto;
}

@media (min-width: 480px) {
	.image {
		width: var(--post-medium-width);
		height: var(--post-medium-height);;
	}
}

@media (min-width: 680px) {
	.image {
		width: var(--post-large-width);
		height: var(--post-large-height);
	}
}
