.root {
	position: relative;
	display: block;
	animation: fadein 1s;
	margin: 10px 0px;
	overflow: hidden;
	background: #df4e4e;
}

.label {
}

.container {
	overflow: hidden;
	margin: auto;
}

.foo {
	overflow: hidden;
	max-height: 500px;
	transition: transform 0.3s;
	transition-delay: 0.2s;
	background: black;
}

.fooActive {
	transform: translate3d(0,-60px,0);
}

.figCaption {
	text-align: center;
    position: absolute;
    top: auto;
    height: 60px;
    width: 580px;
	transition: transform 0.3s;
	transition-delay: 0.2s;
}

.header {
	color: white;
	text-transform: none;
	line-height: 60px;
}

.figCaptionActive {
	transform: translate3d(0,-60px,0);
}

.image {
	width: 580px;
	height: 400px;
	display: block;
	margin: auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

